*{padding: 0; margin: 0 ;box-sizing: border-box; font-family: 'Courier New', Courier, monospace;}

/* Main Navigation */
.navbar{display: flex; justify-content: space-between; padding: 10px 0;} 
.nav-link{padding: 10px 0 10px 20px; color: #000;}
.dropdown-content {
  position: absolute;
  top: 40px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  max-height: 0;
  opacity: 0; 
  overflow: hidden; 
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.dropdown-content.show {max-height: 500px;opacity: 1; }
.dropdown-content li{padding: 0 10px;}
.dropdown-content li a{color: #000; padding: 10px 0; border-bottom: 1px solid #fff;}
.dropdown-content li:last-child a{border-bottom: 0;}